/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2021, 9:07:38 AM
    Author     : nam
*/
.prd-detail-right .btn-like, .prd-detail-right .btn-addcart, .prd-detail-right .btn-checkout {
    background-color: #f15e2c;
    border-radius: 0px;
    color: #fff;
    font-family: GeometricExtraBold;
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0px;
    display: block;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
