/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 20, 2021, 3:00:55 PM
    Author     : nam
*/

body{
    font-size: 14px;
    font-family: poppins;
    line-height: 1.80857;
    font-weight: normal;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.header1{
    width: 100%;
    height: auto;
    display: inline-block;
}
 .left{
    display: inline-block;
    height: auto;
    float: left;
}
 .right{
    display: inline-block;
    height: auto;
    float: right;
}

.menu{
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}
.menu li{
    float: right;
}
.menu li a{
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    text-decoration: none;
}
a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.left .menu li a{
    font-weight: bold;
}
.left .menu li a:hover{
    color: red;
}
.form-search{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.form-group input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
}
.form-group img{
    position: absolute;
    margin-top: 2px;
    color: #4f5b66;
}
.left .menu li a{
    color: black;
    font-size: 25px;
    padding-left: 10px;
}

